header{
    background-image: url(" http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8px;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: #f5f5dc;
    font-size: 150%;
}
nav{
    text-align: center;
    border: none;
}
nav>a{
    display: inline-block;
    padding: 2%;
    width: 18%;
    border: 1pX;
    margin: 1%;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
    font-size: 150%;
    background: #ffffff ;
    opacity: 0.7;
    border-radius:5px ;
}
a img{
    border: 1px solid #000000;
    width: 70%;
    margin: 7.5px 15px;
    clear: both;
    display: inline-block;
}
.left{
    float: left;
    background: #228b22;
    width: 24%;
    height: 100vh;
}
.right{
    margin: 2%;
    width: 71%;
    display:inline-block;
}
.active{
    opacity: 1;
}
body{text-align: left;
    margin: 0 auto;
    padding: 8px;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-transform: uppercase;
    color: #5c5cec;
}